<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>注册页面</title>
</head>
<body>
<div align="center" style="margin-top:150px ">
    <form action="/add" method="post" class="table">
        <table>
            <tr height="60px">
                 <td>
                    请输入用户名:
                 </td>
                <td>
                    <input type="text" name="name">
                </td>
            </tr>
            <tr height="60px">
			<td>
			性别:
			</td>
                <td colspan="2" align="center">
                  
					<select name="sex"> 
						<option>男</option>
						<option>女</option>
					</select>
				</td>
            </tr>
            <tr height="60px">
                <td>
                   请输入手机号:
                </td>
                <td>
                    <input type="text" name="phone">
                </td>
            </tr>
            <tr height="60px">
                 <td>
                    请输入密码:
                 </td>
                <td>
                    <input type="password" name="pwd">
                </td>
            </tr>
            <tr height="60px">
                <td colspan="2" align="center">
                <input type="submit" value="注册"><br/>
                    <a href="/login"><font color="blue">已有帐号直接登录</font></a>
                </td>
            </tr>
            <tr height="60px">
                 <td colspan="2" align="center">
                    <p>{{ error }}</p>
                </td>
            </tr>
    </table>
    </form>
</div>
</body>
</html>